@model ModuleManager.Web.ViewModels.StudiegidsViewModel

<div class="container">
    <div class="row">
        <div id="primary">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">LessenTabel</li>
                </ol>
            </div>
            <div class="col-md-12">
                <div class="pull-right">
                    <a class="btn btn-default" href="@Url.Action("Index", "Home")">Terug</a>
                    <a class="btn btn-success" href="#"><i class="fa fa-download"></i> Exporteren</a>
                </div>
                <h2 style="margin-top: 0">LessenTabel</h2>
            </div>
            <div class="col-md-12">
                <h3>Blok 1 (1e Semester)</h3>
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr style="background: #DA0046; color: #FFFFFF;">
                            <td>Onderdeel</td>
                            <td>Cursus</td>
                            <td>Omschrijving</td>
                            <td>CU</td>
                            <td>WV</td>
                            <td>Toetscode</td>
                            <td>Toetsvorm</td>
                            <td>EC</td>
                            <td>Min</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background: #FDF4EA;">
                            <td>GRW1</td>
                            <td>IIIN-ORI1</td>
                            <td>Oriëntatie 1</td>
                            <td>16</td>
                            <td>GR+TU</td>
                            <td>ORI1-GR</td>
                            <td>Opdracht(en)</td>
                            <td>2</td>
                            <td>vld</td>
                        </tr>
                        <tr>
                            <td rowspan="4">MOD1</td>
                            <td>IIIN-PROG1 </td>
                            <td>Programmeren 1</td>
                            <td>7+26</td>
                            <td>HC+PR</td>
                            <td>PROG1-PR</td>
                            <td>Tentamen (PC)</td>
                            <td>4</td>
                            <td>5,5</td>
                        </tr>
                        <tr>
                            <td>IIIN-WEBS1</td>
                            <td>Websites bouwen 1</td>
                            <td>7+14</td>
                            <td>HC+PR</td>
                            <td>WEBS1-PR</td>
                            <td>Opdracht(en)</td>
                            <td>3</td>
                            <td>5,5</td>
                        </tr>
                        <tr>
                            <td>IIIN-DATAB1</td>
                            <td>Databases 1</td>
                            <td>7+14</td>
                            <td>HC+PR</td>
                            <td>DATAB1-TH</td>
                            <td>Tentamen</td>
                            <td>3</td>
                            <td>5,5</td>
                        </tr>
                        <tr>
                            <td>IIIN-ICTIB</td>
                            <td>ICT in Bedrijf</td>
                            <td>4+10</td>
                            <td>HC+WS</td>
                            <td>ICTIB-PR</td>
                            <td>Opdracht(en)</td>
                            <td>2</td>
                            <td>5,5</td>
                        </tr>
                        <tr style="background: #FDF4EA;">
                            <td rowspan="2">ABV1</td>
                            <td>IIIN-VERGA</td>
                            <td>Vergaderen</td>
                            <td>6</td>
                            <td>WC</td>
                            <td>VERGA-PR</td>
                            <td>Opdracht(en)</td>
                            <td>1</td>
                            <td>vld</td>
                        </tr>
                        <tr style="background: #FDF4EA;">
                            <td></td>
                            <td>Engels (B1-update)</td>
                            <td>18</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr style="background: #CDEBF0;">
                            <td colspan="2"></td>
                            <th>Totaal</th>
                            <th>129</th>
                            <td colspan="2"></td>
                            <th>Totaal</th>
                            <th>15</th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
