<div class="modal fade" id="help" role="dialog" aria-labelledby="Help" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="Help">Curriculum Help</h4>
            </div>
            <div class="modal-body">

                <h2>Onderdelen</h2>

                <ul>
                    <li>Competenties</li>
                    <li>Fases</li>
                    <li>Leerlijnen</li>
                    <li>Tags</li>
                    <li>Onderdelen</li>
                    <li>Modules</li>

                </ul>

                <h3>Competenties</h3>
                <p>Op deze pagina kunnen competenties aangemaakt, bekeken, gewijzigd of verwijderd worden.</p>

                <h3>Fases</h3>
                <p>Op deze pagina kunnen fases aangemaakt, bekeken, gewijzigd of verwijderd worden.</p>

                <h3>Leerlijnen</h3>
                <p>Op deze pagina kunnen leerlijnen aangemaakt, bekeken of verwijderd worden.</p>

                <h3>Tags</h3>
                <p>Op deze pagina kunnen tags aangemaakt, bekeken of verwijderd worden.</p>

                <h3>Onderdelen</h3>
                <p>Op deze pagina kunnen onderdelen aangemaakt, bekeken of verwijderd worden.</p>

                <h3>Modules</h3>
                <p>Op deze pagina kunnen modules aangemaakt of verwijderd worden. Bij het aanmaken worden enkele basis gegevens ingevoerd, zodat een teacher via het moduleoverzicht de mogelijkheid heeft om de modulegegevens verder aan te vullen.</p>



            </div>
        </div>
    </div>
</div>


