<div class="modal fade" id="help" role="dialog" aria-labelledby="Help" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="Help">User Overview Help</h4>
            </div>
            <div class="modal-body">
                
                <h2>Onderdelen</h2>

                <ul>
                    <li>Gebruiker toevoegen</li>
                    <li>Gebruiker wijzigen</li>
                    <li>Gebruiker blokeren</li>                 
                </ul>

                <h3>Gebruiker toevoegen</h3>
                <p>Via de knop 'Nieuwe gebruiker' kan er een nieuwe account worden aangemaakt.</p>

                <h3>Gebruiker wijzigen</h3>
                <p>Via de knop 'Bewerk knop' kan er een account worden gewijzigd.</p>

                <h3>Gebruiker blokeren</h3>
                <p>Een gebruiker kan worden geblokeerd of deblokeerd doormiddel van de blauwe blokeerknop.</p>            

            </div>
        </div>
    </div>
</div>

<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>
-->