<div class="modal fade" id="help" role="dialog" aria-labelledby="Help" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="Help">User Overview Help</h4>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque laoreet neque mi,
                ut tristique ex aliquam sed. Vivamus viverra sit amet lorem eu fermentum. Nunc sit amet 
                sodales nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
                ac turpis egestas. Etiam et ligula metus. Fusce laoreet faucibus ante, et eleifend ipsum 
                dapibus nec. Maecenas tempor ex et erat elementum accumsan. Morbi eu urna turpis.
                <br /><br />
                Sed condimentum orci massa, sit amet sodales diam aliquet ac. Donec semper, ligula sit 
                amet convallis elementum, sapien erat bibendum tellus, in congue odio erat eget orci. 
                Nunc ultricies mi mauris, non lacinia erat cursus vel. Nulla condimentum tortor pharetra 
                lacinia gravida. Donec ultrices viverra auctor. Sed sapien ante, gravida quis diam at, 
                hendrerit faucibus massa. Aliquam efficitur vel dolor sit amet porttitor. Duis a fringilla 
                arcu, ac gravida enim. Duis ut mauris elit. Sed volutpat mauris vitae justo sagittis, a 
                accumsan dui ullamcorper. Sed condimentum volutpat sapien quis suscipit. Nulla et ipsum 
                in tortor tincidunt convallis nec quis tortor.
                <br /><br />
                Vestibulum commodo dapibus laoreet. Mauris lectus ligula, viverra ac ex at, rhoncus 
                molestie tortor. Aliquam vitae sapien auctor, malesuada nibh cursus, aliquam diam. 
                Maecenas mollis tristique aliquet. Aenean facilisis velit quis tortor vehicula, sit 
                amet placerat lacus feugiat. Fusce eleifend auctor nulla non auctor. Pellentesque 
                egestas velit eget aliquam consequat. Aenean et lacus metus. Maecenas a arcu ante. 
                Aenean euismod, urna sed ultricies varius, libero justo commodo turpis, sed vulputate 
                diam urna et augue. In dapibus cursus mauris, a varius urna euismod id.
                <br /><br />
                Nullam rutrum eu erat eu scelerisque. Proin mattis sem velit, et convallis nunc 
                vestibulum eget. Curabitur bibendum scelerisque feugiat. Duis commodo cursus elit 
                quis dapibus. Integer et aliquam lacus. In elementum auctor dolor sed feugiat. 
                Integer posuere sem urna, et suscipit purus consectetur eget. In sagittis elementum 
                urna, et porta dui condimentum et. Curabitur magna lacus, dictum id enim vel, 
                malesuada fringilla dui. Vivamus ipsum leo, hendrerit nec velit at, interdum 
                vehicula nibh. Integer eu orci eu tellus fringilla tempus. Vivamus lorem orci, 
                fringilla vitae porta nec, efficitur a felis. Aenean eleifend massa eget sollicitudin 
                accumsan. In pretium pharetra erat eu convallis. Cras dolor risus, pharetra eu nisi a
                , mollis ornare quam.
            </div>
        </div>
    </div>
</div>

<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>
-->