<div class="modal fade" id="competentie-details" role="dialog" aria-labelledby="CompetentieDetails" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="CompetentieDetails">Competentie Informatie</h4>
            </div>
            <div class="modal-body">
                <p>
                    <b>Code:</b><br/>
                    Competentie code hiero<br/><br/>
                    <b>Naam:</b><br />
                    Competentie naam hiero<br/><br/>
                    <b>Omschrijving:</b><br />
                    Competentie omschrijving hiero
                </p>
            </div>
        </div>
    </div>
</div>