<div class="modal fade" id="module-add" role="dialog" aria-labelledby="ModuleAdd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="ModuleAdd">Module toevoegen</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="name">Naam</label>
                        <input type="text" class="form-control" id="name" placeholder="Naam">
                    </div>

                    <div class="form-group">
                        <label for="cursorcode">Cursuscode</label>
                        <input type="text" class="form-control" id="cursorcode" placeholder="Cursuscode">
                    </div>
                    
                    <div class="form-group">
                        <label for="toetscode_ec">Toetscode + EC</label>
                        <table id="toetscode_ec" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td style="width: 268px;">Toetscode 1</td>
                                    <td>EC 1</td>
                                    <td style="width: 90px;">
                                        <a class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Toetscode 2</td>
                                    <td>EC 2</td>
                                    <td style="width: 90px;">
                                        <a class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="form-inline" style="width: 100%">
                            <div class="form-group" style="width: 46%">
                                <label class="sr-only">Toetscode</label>
                                <input type="text" class="form-control" placeholder="Toetscode" style="width: 100%;">
                            </div>
                            <div class="form-group" style="width: 46%">
                                <label class="sr-only">Ec</label>
                                <input type="text" class="form-control" placeholder="Ec" style="width: 100%;">
                            </div>
                            <button class="btn btn-success" type="button"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ModuleAddFases">Fases</label>
                        <select class="form-control" id="ModuleAddFases" multiple>
                            <optgroup label="Major">
                                <option>Software ontwikkelaar</option>
                                <option>Bedrijfsinformatica</option>
                            </optgroup>
                            <optgroup label="Minor">
                                <option>Business Intelligence & IT Governance</option>
                                <option>Business Proces Management (BPM)</option>
                                <option>Corporate Performance Management (CPM)</option>
                                <option>Cybersafety</option>
                                <option>Digitale Regelsystemen (DRS)</option>
                                <option>Embedded Software (EMS)</option>
                                <option>Everyware in a Mobile World (EVW)</option>
                                <option>Middleware (MDW)</option>
                                <option>Product Ontwikkeling (PO)</option>
                                <option>Signaal bewerking (SB)</option>
                                <option>Software Architectuur (SWA)</option>
                            </optgroup>
                            <optgroup label="Opleidingsfase">
                                <option>Propedeuse</option>
                                <option>Hoofdfase bachelor</option>
                            </optgroup>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="ModuleAddBlock">Blok</label>
                        <select class="form-control" id="ModuleAddBlock">
                            <option></option>
                            <option>Blok 1</option>
                            <option>Blok 2</option>
                            <option>Blok 3</option>
                            <option>Blok 4</option>
                            <option>Blok 5</option>
                            <option>Blok 6</option>
                            <option>Blok 7</option>
                            <option>Blok 8</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                <button type="button" class="btn btn-success">Opslaan</button>
            </div>
        </div>
    </div>
</div>