body {
	background: #EEEEEE;
	overflow-y: scroll;
	font-family: 'Roboto', sans-serif;
}

/*@media (min-width: 1200px) {
  .container {
    width: 1040px;
  }
}
*/
/* Header
******************************************************/
header {
	background: #E21350;
	background: #FF004B;
	height: 200px;
}

header {
}


header #top {
	margin-top: 4px;
}
header .user-nav {
	font-size: 12px
}
header .user-nav li {
	display: inline-block;
	padding-right: 2px;
	padding-left: 2px;
}
header .user-nav li a {
	color: #fff;
}
header .user-nav .divider {
	color: #F4F4F4;
	width: 1px;
	font-weight: 300;
}

header #main {
	margin-top: 38px;
}
header #main span {
	color: #fff;
	font-size: 26px;
}
header .search-module {
	margin-top: -6px;
	box-shadow: none;
	border: none;
}

/* Content
******************************************************/
#content .container {
	background: #fff;
	margin-top: -30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	padding: 80px 50px;
}

/* Footer
******************************************************/
footer {
	text-align: center;
	color: #A0A0A0;
	margin: 10px;
	font-size: 12px;
}
footer a,
footer a:hover {
	color: #A0A0A0;
}

/* Primary
******************************************************/
#primary h2 {
	margin-top: 0;
}
#primary h2 a {
	color: #333;
}
#primary .module {
	margin-bottom: 20px;
}

/* Secondary
******************************************************/
.widget {
	margin-bottom: 40px;
}


.tags{
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;
}
.tags li, .tags a{
	float: left;
	height: 24px;
	line-height: 24px;
	position: relative;
	font-size: 11px;
	margin-bottom: 5px;
}
.tags a {
	margin-left: 20px;
	padding: 0 10px 0 12px;
	background: #0089e0;
	color: #fff;
	text-decoration: none;
	-webkit-border-bottom-right-radius: 4px;	
	border-bottom-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;	
	border-top-right-radius: 4px;	
}
.tags a:before{
	content: "";
	float: left;
	position: absolute;
	top: 0;
	left: -12px;
	width: 0;
	height: 0;
	border-color: transparent #0089e0 transparent transparent;
	border-style: solid;
	border-width: 12px 12px 12px 0;		
}
.tags a:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	float: left;
	width: 4px;
	height: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
	-webkit-box-shadow: -1px -1px 2px #004977;
	box-shadow: -1px -1px 2px #004977;
}
.tags a:hover{
	background:#555;
}	
.tags a:hover:before{
	border-color:transparent #555 transparent transparent;
}

.category {
	margin-bottom: 14px;
}
.category .btn {
	padding: 50px 0;
}




/* Search
******************************************************/

#search {
  margin-bottom: 26px;
}

.filters {
	background: #EEEEEE;
	border-radius: 2px;
	padding: 12px 8px;
}

#items td {
	vertical-align: middle;
}

#items .item {
	cursor: pointer;
}

#items .icon {
	width: 60px;
	text-align: center;
}
#items .icon .fa {
	font-size: 34px;
	color: #808080;
	margin: 5px;
}
#items .code,
#items .block {
	color: #707070;
	width: 120px;
}
#items .ec {
	color: #707070;
	width: 60px;
}

#items .status {
	color: red;
	width: 120px;
}

#items .export {
	text-align: right;
}



#items .information p {
	line-height: 16px;
	margin: 4px 0;
}

#items .information .name {
	font-size: 16px;
}
#items .information p.instructors {
	color: #707070;
	font-size: 12px;
}

.table-center > thead > tr > th,
.table-center > tbody > tr > th,
.table-center > tfoot > tr > th,
.table-center > thead > tr > td,
.table-center > tbody > tr > td,
.table-center > tfoot > tr > td {
	vertical-align: middle;
}

/* Login
******************************************************/
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

ul.dropdown-menu-form {
    padding: 5px 30px 0;
    max-height: 300px;
    overflow-y: scroll;
    
}

.dropdown-menu .checkbox {
	font-weight: 300;
}