@{
    ViewBag.Title = "AddModule";
}

<div id="content" role="content">
  <div class="container">
    <div class="row">

      <div id="primary">

        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="admin.php">Home</a></li>
            <li><a href="admin.php">Beheer</a></li>
            <li class="active">Module toevoegen</li>
          </ol>
        </div>

        <div class="col-md-12">
          <h2>Module toevoegen</h2>
          <br />
        </div>

         <div class="col-md-12">
          
          <form role="form">
            <div class="form-group">
              <label for="name">Naam</label>
              <input type="text" class="form-control" id="name" placeholder="Naam">
            </div>
            <div class="form-group">
              <label for="description">Beschrijving</label>
              <textarea class="form-control" id="description" placeholder="Beschrijving"></textarea>
            </div>

            <div class="form-group">
              <div class="pull-right">
                <a class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Toevoegen</a>
                <a class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Verwijderen</a>
              </div>
              <label for="minor">Competenties</label>
              <select multiple class="form-control" id="minor">
                <option>Procesanalyse uitvoeren (Beginner)</option>
                <option>Informatieanalyse uitvoeren (Expert)</option>
                <option>Informatiesysteem ontwerpen (Ervaren)</option>
                <option>Doorgronden van hardwareplatform (Expert)</option>
              </select>
            </div>

            <div class="form-group">
              <div class="pull-right">
                <a class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Toevoegen</a>
                <a class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Verwijderen</a>
              </div>
              <label for="minor">Leerlijnen</label>
              <select multiple class="form-control" id="major">
                <option>Programmeren</option>
                <option>Moduleren</option>
                <option>Databases</option>
              </select>
            </div>

            <div class="form-group">
              <div class="pull-right">
                <a class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Toevoegen</a>
                <a class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Verwijderen</a>
              </div>
              <label for="minor">Tags</label>
              <select multiple class="form-control" id="major">
                <option>Big Data</option>
                <option>Milieu</option>
                <option>Spaans</option>
              </select>
            </div>

            <div class="form-group">
              <div class="pull-right">
                <a class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Toevoegen</a>
                <a class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Verwijderen</a>
              </div>
              <label for="minor">Majors</label>
              <select multiple class="form-control" id="major">
                <option>Software ontwikkelaar</option>
                <option>Bedrijfsinformatica</option>
              </select>
            </div>

            <div class="form-group">
              <div class="pull-right">
                <a class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Toevoegen</a>
                <a class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Verwijderen</a>
              </div>
              <label for="minor">Minors</label>
              <select multiple class="form-control" id="minor">
                <option>Business Intelligence & IT Governance</option>
                <option>Business Proces Management (BPM)</option>
                <option>Corporate Performance Management (CPM)</option>
                <option>Cybersafety</option>
                <option>Digitale Regelsystemen (DRS)</option>
                <option>Embedded Software (EMS)</option>
                <option>Everyware in a Mobile World (EVW)</option>
                <option>Middleware (MDW)</option>
                <option>Product Ontwikkeling (PO)</option>
                <option>Signaal bewerking (SB)</option>
                <option>Software Architectuur (SWA)</option>
              </select>
            </div>

             <div class="form-group">
              <div class="pull-right">
                <a class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Toevoegen</a>
                <a class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Verwijderen</a>
              </div>
              <label for="minor">Fase</label>
              <select multiple class="form-control" id="major">
                <option>Propedeuse</option>
                <option>Hoofdfase bachelor</option>
              </select>
            </div>

            <div class="form-group">
              <label for="general-information">Algemene informatie</label>


              <table class="table table-bordered table-center">
                <tbody>
                  <tr>
                    <th>Werkvorm</th>
                    <td>
                      <input type="text" class="form-control" placeholder="Werkvorm" />
                    </td>
                  </tr>
                  <tr>
                    <th>Leerdoelen</th>
                    <td>
                      <input type="text" class="form-control" placeholder="Leerdoelen" />
                    </td>
                  </tr>
                  <tr>
                    <th>Weekplanning</th>
                    <td>
                      <input type="text" class="form-control" placeholder="Weekplanning" />
                    </td>
                  </tr>
                  <tr>
                    <th>Beoordeling</th>
                    <td>
                      <input type="text" class="form-control" placeholder="Beoordeling" />
                    </td>
                  </tr>
                  <tr>
                    <th>Organisatie</th>
                    <td>
                      <input type="text" class="form-control" placeholder="Organisatie" />
                    </td>
                  </tr>
                  <tr>
                    <th>Toetscode</th>
                    <td>
                      <input type="text" class="form-control" placeholder="Toetscode" />
                    </td>
                  </tr>
                  <tr>
                    <th>Studiepunten</th>
                    <td>
                      <input type="text" class="form-control" placeholder="Studiepunten" />
                    </td>
                  </tr>
                  <tr>
                    <th>Studiebelasting</th>
                    <td>
                      <input type="text" class="form-control" placeholder="Studiebelasting" />
                    </td>
                  </tr>
                  <tr>
                    <th>Leermiddelen</th>
                    <td>
                      <input type="text" class="form-control" placeholder="Leermiddelen" />
                    </td>
                  </tr>
                  <tr>
                    <th>Cursuscode</th>
                    <td>
                      <input type="text" class="form-control" placeholder="Cursuscode" />
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <button type="submit" class="btn btn-success btn-lg">Opslaan</button>
            <a href="admin.php" class="btn btn-default">Annuleren</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /container -->
