<div class="modal fade" id="user-delete" role="dialog" aria-labelledby="ModuleAdd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Weet uw zeker dat uw de volgende gebruiker: <b>Gebruiker naam</b> wilt verwijderen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                <button type="button" class="btn btn-danger">Verwijderen</button>
            </div>
        </div>
    </div>
</div>